/*sign up*/
h3 {
    font-family: cursive;
    font-size: 4em;

    margin-top: 20%;
}
label {
    display: inline-block;
    margin-bottom: 0.5em;
}

input {
    display: block;
    width: 70vw;
    padding: 0.37em 0.7em;

    font-size: 1em;
    line-height: 1.5;

    outline: none;

    border: 1px solid green;
    border-radius: 0.25em;
}

input.invalid {
    border: 1px solid red;
}
small {
    color: red;
}

button {
    color: deeppink;
    background-color: blanchedalmond;
    font-size: 1em;

    padding: 0.37em 0.7em;
    border-radius: 0.25em;
    line-height: 1.5;
}

.input-group {
    margin-bottom: 1.5em;
}
.success {
    color: blueviolet;
    font-size: 3em;
    margin-top: 10%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}